<% include ../partials/header %>

<div id="list">
  <div class="container">
    <h1><%- list.title %> List:</h1>
    <div class="tasks">
      <h2>Tasks:</h2>
      <% tasks.forEach( task => { %>
        <div class="task-list">
          <h3 class="task" data-id="<%= task.id %>"><%- task.task %></h3>
          <button class="deleteTaskBtn" data-id="<%= task.id %>" >Delete Task</button>
        </div>
      <% }) %>
    </div>
    <input id="newTask" name="newTask" />
    <input id="listId" value="<%- list.id %>" hidden />
    <button id="addNewTask" >Add New Task</button>
  </div>
</div>

<% include ../partials/footer %>
